<section id="about" class="bg-image-section py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="mb-4 display-4 orange-title uppercase trape-4">
                    Петербург<br> сквозь года <br>
                    <span class="color-blue h1 font-weight-bold">с Владимиром Заруцким</span>
                </h1>

                <ul class="orange-list">
                    <li>Нарисуйте <span class="color-blue">12 пейзажей:</span> от ретро Петербурга до сегодняшних дней
                    </li>
                    <li>Изучите <span class="color-blue">способы передачи особенностей архитектуры</span> с помощью
                        акварели</li>
                    <li>Научитесь передавать <span class="color-blue">художественные образы и замыслы</span></li>
                </ul>
                <a href="#materials" class="btn-sidebar btn btn-warning my-5 shadow">
                    Узнать подробности
                </a>
            </div>

            <div class="col-md-6">
                <img src="img-2x-scale-2_00x.png" class="img-fluid rounded" alt="Художник рисует Петербург">
            </div>

        </div>
    </div>


    <div class="container mt-5 mb-n5 pt-5 h5">
        <div class="row mt-5">
            <div class="col-md-3 col-6   mt-4">
                <div class="stat-block text-center p-3">
                    <div class="mb-2 color-blue">Материал: <br><span class="text-dark">акварель</span></div>
                </div>
            </div>
            <div class="col-md-3 col-6  mt-4">
                <div class="stat-block text-center p-3">
                    <div class="mb-2 color-blue">Количество <br>картин:<span class="text-dark"> 12</span></div>
                </div>
            </div>
            <div class="col-md-3 col-6  mt-4">
                <div class="stat-block text-center p-3">
                    <div class="mb-2 color-blue">Продолжительность <br>курса:<span class="text-dark"> 20 часов</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-6  mt-4">
                <div class="stat-block text-center p-3">
                    <div class="mb-2 color-blue">Доступ: <br><span class="text-dark">бессрочный</span></div>
                </div>
            </div>
        </div>
    </div>
</section>