<section id="contacts" class="position-relative">
    <div class="container pb-5">
        <h1 class="text-center mb-5 orange-title uppercase">Частые вопросы</h1>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="faq-item" style="border: 5px solid #fabd62">
                    <button class="faq-question text-left w-100 p-3 d-flex justify-content-between align-items-center"
                        style="border: none; outline: none; color: black; background-color: white; transition: all 0.3s ease;">
                        <span>Я совсем не умею рисовать. Стоит ли мне идти на курс?</span>
                        <span class="arrow-icon">
                            <svg width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="gray" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </span>
                    </button>
                    <div class="faq-answer mx-3 p-4 font-weight-bold" style="display: none;">
                        <p>Конечно стоит! Курс специально построен так что сначала идут простые картины а потом более
                            сложные, так
                            что вы успеете влиться в процесс и достичь высоких результатов!</p>
                        <p>Для опытных художников курс также будет полезен. Вы сможете ещё больше отработать технику, а
                            также
                            увеличить свою насмотренность.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-4">
                <div class="faq-item" style="border: 5px solid #fabd62">
                    <button class="faq-question text-left w-100 p-3 d-flex justify-content-between align-items-center"
                        style="border: none; outline: none; color: black; background-color: white; transition: all 0.3s ease;">
                        <span>Как устроена обратная связь?</span>
                        <span class="arrow-icon">
                            <svg width="25" height="25" viewBox="0 0 24 24" fill="none" stroke="gray" stroke-width="3"
                                stroke-linecap="round" stroke-linejoin="round">
                                <polyline points="9 18 15 12 9 6"></polyline>
                            </svg>
                        </span>
                    </button>
                    <div class="faq-answer mx-3 p-4 font-weight-bold" style="display: none;">
                        <p>В конце урока вы выложите фотографию своей работы. У преподавателя будет возможность оставить
                            к вашей
                            работе текстовый,
                            графический (пометки на рисунке), а также аудио-комментарий.</p>
                        <p>В нижней части каждого урока будет блок комментариев, где можно задавать любые вопросы по
                            обучению.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>