<section id="tariffs" class="tariff-image-section">
    <div class="container">
        <h1 class="text-center my-5 orange-title uppercase">Тарифы</h1>
        <div class="row">

            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body px-0 pt-0">
                        <h5 class="card-title text-white bg-primary text-center p-3 uppercase mb-3">Рисую сам</h5>
                        <div class="text-center mb-4">
                            <img src="/tarif.png" alt="" class="img-fluid" style="max-height: 120px;">
                        </div>
                        <ul class="orange-list m-2">
                            <li class="font-weight-bold">12 пейзажей: от ретро Петербурга до сегодняшних дней</li>
                            <li class="font-weight-bold">17 уроков : теория + практика + развивающие упражнения</li>
                            <li class="text-muted"><s>Личная часовая онлайн-консультация с экспертом курса</s></li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="text-center color-blue mb-1"><s>7990 P</s></h4>
                        <h3 class="text-center color-blue font-weight-bolder price-new mb-3">4 990 P</h3>
                        <div class="text-center mb-2">
                            <button type="button" class="btn btn-warning btn_bought btn-sm mx-1 currency-btn active"
                                title="Рубль">
                                ₽
                            </button>
                            <button type="button" class="btn btn-warning btn_bought btn-sm mx-1 currency-btn"
                                title="Доллар">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                    <path
                                        d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z" />
                                </svg>
                            </button>
                        </div>
                        <div class="card-footer bg-transparent border-0 text-center pt-0 pb-3">
                            <a class="btn btn-warning px-4 py-2 btn_bought">Принять участие</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body px-0 pt-0">
                        <h5 class="card-title text-white bg-primary text-center p-3 uppercase mb-3">с поддержкой</h5>
                        <div class="text-center mb-4">
                            <img src="/tarif.png" alt="" class="img-fluid" style="max-height: 120px;">
                        </div>
                        <ul class="orange-list m-2">
                            <li class="font-weight-bold">12 пейзажей: от ретро Петербурга до сегодняшних дней</li>
                            <li class="font-weight-bold">17 уроков : теория + практика + развивающие упражнения</li>
                            <li class="text-muted"><s>Личная часовая онлайн-консультация с экспертом курса</s></li>
                            <li class="font-weight-bold" style="font-size: 0.9em;">
                                <span class="dollar-icon-bs">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                        <path
                                            d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z" />
                                    </svg>
                                </span>
                                +1000 бонусных рублей! Можно потратить при покупке курса на следующем марафоне. Сгорают
                                через 3 месяца
                            </li>
                        </ul>
                    </div>
                    <div class="mt-auto">
                        <h4 class="text-center color-blue mb-1"><s>9990 P</s></h4>
                        <h3 class="text-center color-blue font-weight-bolder price-new mb-3">5 990 P</h3>
                        <div class="text-center mb-2">
                            <button type="button" class="btn btn-warning btn_bought btn-sm mx-1 currency-btn active"
                                title="Рубль">
                                ₽
                            </button>
                            <button type="button" class="btn btn-warning btn_bought btn-sm mx-1 currency-btn"
                                title="Доллар">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                    <path
                                        d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z" />
                                </svg>
                            </button>
                        </div>
                        <div class="card-footer bg-transparent border-0 text-center pt-0 pb-3">
                            <a class="btn btn-warning px-4 py-2 btn_bought">Принять участие</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body px-0 pt-0">
                        <h5 class="card-title text-white bg-primary text-center p-3 uppercase mb-3">vip</h5>
                        <div class="text-center mb-4">
                            <img src="/tarif.png" alt="" class="img-fluid" style="max-height: 120px;">
                        </div>
                        <ul class="orange-list m-2">
                            <li class="font-weight-bold">12 пейзажей: от ретро Петербурга до сегодняшних дней</li>
                            <li class="font-weight-bold">17 уроков : теория + практика + развивающие упражнения</li>
                            <li class="font-weight-bold">Личная часовая онлайн-консультация с экспертом курса</li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="text-center color-blue mb-1"><s>22980 P</s></h4>
                        <h3 class="text-center color-blue font-weight-bolder price-new mb-3">15 990 P</h3>
                        <div class="text-center mb-2">
                            <button type="button" class="btn btn-warning btn_bought btn-sm mx-1 currency-btn active"
                                title="Рубль">
                                ₽
                            </button>
                            <button type="button" class="btn btn-warning btn_bought btn-sm mx-1 currency-btn"
                                title="Доллар">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                    <path
                                        d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z" />
                                </svg>
                            </button>
                        </div>
                        <div class="card-footer bg-transparent border-0 text-center pt-0 pb-3">
                            <a class="btn btn-warning px-4 py-2 btn_bought">Принять участие</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>