body {
  font-family: 'PT Sans', sans-serif;
  padding-top: 80px;
  /* overflow-x: hidden; */
  /* background: lightblue; */
}
 
    @font-face {
      font-family: 'BERNIERDISTRESSED';
      src: url('https://fonts.cdnfonts.com/s/7798/BERNIERDistressed-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
  
  
    h1,
    h2,
    h3,
    .navbar-brand {
      font-family: 'BERNIERDISTRESSED', sans-serif;
      letter-spacing: 1px;
    }
  
    .navbar {
      box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    }

    